#<IfModule mod_php5.c>
#php_value memory_limit 64M
#</IfModule>
#
#RewriteEngine On
#RewriteBase /
#RewriteCond $1 !^(index\.php|img|images|css|js|fonts|upload|html)
#RewriteRule ^(.*)$ /travza/index.php?/$1 [L]
#RewriteRule ^(.*)/$ /$1 [R,L]


RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|img|images|css|js|fonts|upload|HTML)
RewriteRule ^(.*)$ /travza/index.php?/$1 [L]
